@import url(../estilos/color.css);

.calculoSimples{
    display: flex;
    flex-direction: row;
}

.container-BtnsCalculos{
    height: 100%;
    width: 15vw;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #4A90E2;
}

.lista-btns-calculoSimples{
    padding: 0;
    margin: 0;
}

.container-calculo{
    width: 85vw;
}