@import url(../estilos/color.css);

.container-btn-celular{
    display: none;
}

.calculoSimples{
    display: flex;
    flex-direction: row;
}

.lista-btns-calculoSimples{
    overflow-y: scroll;
    height: 82vh;
}

.container-BtnsCalculos{
    height: 100%;
    width: 15vw;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.3);
    background-color: #4A90E2;
}

.lista-btns-calculoSimples{
    padding: 0;
    margin: 0;
}

.container-calculo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.container-introducao {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-container);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.texto-introducao h2 {
    font-size: 24px;
    color: var(--color-destacar-letra);
    margin-top: 20px;
    
}

.lista-uso li{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.container-templete-calculos{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 20px;
    background-color:var(--color-container);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.container-templete-inputs, .container-templete-btns{
    display: flex;
    gap: 1rem;
}

.container-flex-resultado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-templete-resultado{
    width: 50%;
    background-color: #f0f8ff; /* azul claro */
    border: 2px solid #007bff; /* azul vibrante */
    border-radius: 12px;
    padding: 16px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
}