@import url(../estilos/color.css);

@media screen and (max-width: 431px) {
    .footer{
        height: 11.25vh;
        width: 100vw;
    }
}

@media screen and (max-width: 391px) {
    .footer{
        height: 14.7vh;
        width: 100vw;
    }
}

@media screen and (max-width: 361px) {
    .footer{
        height: 13.6vh;
        width: 100vw;
    }
}