@import url(../estilos/color.css);

.btnAll{
    width: 210px;
    font-family: var(--font-texto);
    padding: 12px 24px;
    border: none;
    color: var(--color-backgroud);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.btnAll:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.btnAll:active{
    transform: scale(0.95);
}

/*botoes do header*/

.btn-cabecalho{
    background: transparent;
    color: var(--color-backgroud);
    padding: 14px 15px;
    border-right: solid 1px var(--color-backgroud);
    cursor: pointer;
    transition: background 0.5s;
}

.btn-cabecalho:hover{
    background: var(--color-backgroud);
    color: var(--color-letra);
}

.btn-pesquisar{
    border-radius: 8px;
    border: solid 1px var(--color-backgroud);
}

/*botoes do main*/

.botao-navegacao{
    background: linear-gradient(to right, #56CCF2, #2F80ED);
}

.btn-escolher-calculo{
    width: 100%;
    color: var(--color-letra);
    border: none;
    transition: background 0.5s;
    background: linear-gradient(135deg, #4A90E2, #2C7BE5);

}

.btn-escolher-calculo:hover{
    background: linear-gradient(135deg, #2C7BE5, #1E5FA3);
    color: white;
}
