@import url(../estilos/color.css);

.btnAll{
    width: 210px;
    font-family: var(--font-texto);
    padding: 12px 24px;
    border: none;
    color: var(--color-backgroud);
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.btnAll:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}

.btnAll:active{
    transform: scale(0.95);
}

/*botoes do header*/

.btn-cabecalho{
    background: transparent;
    color: var(--color-backgroud);
    padding: 14px 15px;
    border-right: solid 1px var(--color-backgroud);
    cursor: pointer;
    transition: background 0.5s;
}

.btn-cabecalho:hover{
    background: var(--color-backgroud);
    color: var(--color-letra);
}

.btn-pesquisar{
    border-radius: 8px;
    border: solid 1px var(--color-backgroud);
}

/*botoes do main*/

.botao-navegacao{
    background: linear-gradient(to right, #56CCF2, #2F80ED);
}

.btn-escolher-calculo{
    width: 100%;
    color: var(--color-letra);
    border: none;
    transition: background 0.5s;
    background: var(--color-botao);

}

.btn-escolher-calculo:hover{
    background: var(--color-botao-hover);
    color: white;
}

.btn-realizar-calcular, .btn-comoFazer{
    display: block;
    font-family: var(--font-texto);
    width: 100%;
    padding: 10px 15px;
    background: var(--color-botao);
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-realizar-calcular:hover{
    background: var(--color-botao-hover);
}

.btn-comoFazer{
    border: 2px solid #4A90E2; 
    background: white; 
    color: #3f51b5;
}

.btn-comoFazer:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.inputs-templete{
    width: 270px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.inputs-templete:focus{
    border-color: #2F80ED;
    box-shadow: 0 0 5px rgba(55, 83, 241, 0.5);
    outline: none;
}

/*Selects*/

.select-padrao{
    width: 270px;
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    outline: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><polygon points="0,0 10,0 5,5" style="fill:%23333;"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px 5px;
}

.select-padrao:focus {
    border-color: #2c8be7;
    box-shadow: 0 0 0 2px rgba(44, 139, 231, 0.2);
  }