:root{
    --color-backgroud: #F8F8F8;
    --color-botao: #000;
    --color-cards:#000;
    --color-verde: linear-gradient(to right, #A8D5BA, #B7E4C7);
    --color-letra: #222222;

    --font-titulo:"Montserrat", sans-serif;
    --font-texto: "Inter", sans-serif;
}