:root{
    --color-backgroud: #F8F8F8;
    --color-botao-hover: linear-gradient(135deg, #2C7BE5, #1E5FA3);
    --color-botao: linear-gradient(135deg, #4A90E2, #2C7BE5);
    --color-verde: linear-gradient(to right, #A8D5BA, #B7E4C7);
    --color-letra: #222222;
    --color-container: #f8f8f8;
    --color-destacar-letra:#4CAF50;
    --vermelho-vivo: #d9534f;
    --azul-vibrande:#007bff;
    --azul-claro:#f0f8ff;

    --font-titulo:"Montserrat", sans-serif;
    --font-texto: "Inter", sans-serif;
}