@import url(color.css);

.font-titulo, .font-texto, .texto-instrucao{
    font-size: 2rem;
    font-family: var(--font-titulo);
    font-weight: bold;
    font-style: normal;
    color: var(--color-letra);
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0 .8rem 0 .8rem;
}

.font-texto{
    font-size: 1.2rem;
    font-family: var(--font-texto);
    font-weight: 400;
    margin: 0;
}

/*Fontes do main*/

.texto-introducao{
    font-size: 28px;
    color: #2c3e50; 
    border-bottom: 2px solid #4CAF50;
    display: inline-block;
    padding-bottom: 5px;
}

.texto-select {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 6px;
}

/*fonte instrução*/

.texto-instrucao{   
    line-height: 1.2;
}