.container-historico-resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .8rem 0;
    background-color: #f0f8ff; /* azul claro */
    border: 2px solid #007bff; /* azul vibrante */
    border-radius: 12px;
    padding: 16px;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    color: #333;
}