@import url(../estilos/color.css);

.rescisaotrabalhista{
    display: flex;
    justify-content: center;
    gap: 1rem; /* Espaço entre os botões */
    margin-top: 20px;
    flex-wrap: wrap; /* Responsivo */
}

.label-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px; /* ajustável */
  }